body {
    background-color: #90785E;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;                        
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
#logout {
    display: inline; 
    margin: 0 5px;
}
.upload_video label {
    font-size: 10pt;
}
.tabela {
    font-size: 16px !important;
}
.sidebar {
    width: calc(100vw - 80%);
}
.container {
    width: calc(100vw - 20%);
}